* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
   background-color: #E6CB99;
}


/* -----------------------MOBILE VERSION------------------------------------ */

/* Contains everything */

.nav-container {
  font-weight: 700;
  background-color: black;
  color: white;
  height: 150px;

}


/* --------------------DESKTOP VERSION----------------------- */

@media only screen and (min-width: 1024px) {
  /* hides menu and cross button when in desktop */
  .nav {
    width: 50%;
    margin: auto;
  }

div.relative {
  position: relative;
  right: 350px;
  top:20px;
  font-family: monospace;

}

  .nav-toggle {
    display: none;
  }

  /* removing padding for better appearance */
  .nav-container {
    padding: 0em;
  }

}


/* ----------------------MOBILE VERSION------------------------------- */
/* Depending on the size, we adjust width it to make look as good as possible */
@media only screen and (max-width: 1440px) {
  /* Remove the min-width and width conditions from the containers */
  .end-header-bar {
    width: 75%;
    min-width: none;
  }
}

@media only screen and (max-width: 1024px) {
  /* Remove the min-width and width conditions from the containers */
  .end-header-bar {
    width: 90%;
    min-width: none;
  }
}

@media only screen and (max-width: 768px) {
  /* Remove the min-width and width conditions from the containers */
  .end-header-bar {
    width: 100%;
    min-width: none;
  }

}
