* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
   background-color: #E6CB99;
}


/* -----------------------MOBILE VERSION------------------------------------ */


.nav-container {
  font-weight: 700;
  background-color: black;
  color: white;
  height: 100%;

}

/*if not below then this code */

.crop {
  position: relative;
  padding-bottom: 40%;
  height: 0;
  margin-left: 500px;
  margin-top: 100px; 
  overflow: hidden;
  
}
.crop iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  margin-bottom: 30px;
  
}  


/* iframe {
  border-width: 2px;
  border-style: inset;
  background-color: #000;
  border-image: initial;
  overflow: hidden;
  height: 600px;
  margin-left: 500px;
  
} */


/* .crop {
  width: 153px;
  height: 350px;
  overflow: hidden;
  margin-left: 650px;
  margin-top: 100px;
  background-size: 150px;

}

.crop iframe {
  width: 400px;
  height: 450px;
  margin: -50px 0 0 -120px;

  
} */

/* iframe {
  display: block;
  border-style:none;
  text-align: center;
  margin: auto;
}  */

/* --------------------DESKTOP VERSION----------------------- */

@media only screen and (min-width: 1024px) {
  /* hides menu and cross button when in desktop */
  .nav {
    width: 50%;
    margin: auto;
  }

div.relative {
  position: relative;
  right: 45%;
  top: 4px;
  font-family: monospace;

}

  .nav-toggle {
    display: none;
  }

  /* removing padding for better appearance */
  .nav-container {
    padding: 0em;
  }

}


/* ----------------------MOBILE VERSION------------------------------- */


/* @media screen and (max-width: 1060px) {
    .nav-container { width:67%; }
    .nav-container{ width:30%; margin-left:3%;}  
} */

/* Tabled Portrait */
/* @media screen and (max-width: 768px) {
    .nav-container { width:100%; }
    .nav-container { width:100%; margin:0; border:none; }
} */



