* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: noe;
  background-color: #E6CB99;
}






/* Centering all the content, and justify them and displaying them on the same row */
.top-bar-container {
  margin: auto;
  width: 40%;
  height: 100%;
  padding: 0 10px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.top-bar-misc-container {
  grid-column: 2/-1;
  padding-right: 15px;
  justify-self: end;
}


img{

max-width: 100%;

}


video {
	max-width: 100%;
	height: auto;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 25%;
	width: 50%;
	height: 90%;
}




/* ----------------------MOBILE VERSION------------------------------- */

/* Depending on the size, we adjust the width to make it look better */
@media only screen and (max-width: 1440px) {
  /* Remove the min-width and width conditions from the containers */
  .container {
    width: 100%;
    min-width: none;
    height: auto;
    float: left;
  }

}

@media only screen and (max-width: 768px) {
  /* Remove the min-width and width conditions from the containers */
  .container {
    width: 100%;
    min-width: none;
    height: auto;
    float: left;
  }

}

@media only screen and (max-width: 480px) {
  /* Remove the min-width and width conditions from the containers */
  .container {
    width: 100%;
    min-width: none;
    height: auto;
    float: left;
  }

}

/*========================================================================= 
3. Working on the navigation bar
===========================================================================*/

/* -----------------------MOBILE VERSION------------------------------------ */

/* Contains everything */

.nav-container {
  font-weight: 700;
  background-color: black;
  color: white;
  height: auto;
  padding: 1em 0;
}


/* In mobile the anchors need to be in column form */
.nav-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-family: monospace ;
}



/* --------------------DESKTOP VERSION----------------------- */

@media only screen and (min-width: 1024px) {
  /* hides menu and cross button when in desktop */
  .nav {
    width: 50%;
    /* margin: auto; */
   
  }

  .nav-toggle {
    display: none;
  }

  /* removing padding for better appearance */
  .nav-container {
    padding: 1em;
  }

  /* The content needs to be displayed in a row in desktop mode */
  .nav-content {
    /* flex-direction: row; */
    gap: 0;
    height: 100%;
    /* text-align: justify;
    text-justify: inter-word; */
    font-family: monospace ;
  }

}

/*---------------------------------------------------------------
4.Working on the End bar (search, cart, catchphrase)
----------------------------------------------------------------- */

/* ------------------------DESKTOP VERSION----------------------- */

/* Centering all of the content */
.end-header-bar-container {
  height: 80px;
}

.end-header-bar {
  width: 50%;
  height: 100%;
  margin: auto;
  padding: 0 10px;

  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-flow: column;
  column-gap: 30px;
}



/* ----------------------MOBILE VERSION------------------------------- */
/* Depending on the size, we adjust width it to make look as good as possible */
@media only screen and (max-width: 1440px) {
  /* Remove the min-width and width conditions from the containers */
  .end-header-bar {
    width: 75%;
    min-width: none;
  }
}

@media only screen and (max-width: 1024px) {
  /* Remove the min-width and width conditions from the containers */
  .end-header-bar {
    width: 90%;
    min-width: none;
  }
}

@media only screen and (max-width: 768px) {
  /* Remove the min-width and width conditions from the containers */
  .end-header-bar {
    width: 100%;
    min-width: none;
  }

  /* Making cart button smaller */
  .cart-button {
    font-size: 0.75em;
    padding: 5px 10px;
  }
}
